<!-- In your index.html template -->
{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
  <h2 id="activelisting">Active Listing</h2><hr>
  <div class="mt-4 mb-4"></div>
  <div class="row">
    {% for listing in listings %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if listing.image %}
        <img class="card-img-top" id="imagesonindex" src="{{ listing.image.url }}" alt="{{ listing.title }}">
        {% else %}
        <p>No image available</p>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <p class="card-text">{{ listing.description |slice:"0:58" }}...</p>
          <p class="card-text pricetag">Price: ${{ listing.starting_bid }}</p>
          <a href="{% url 'listing_detail' listing_id=listing.pk %}" class="btn btn-primary">View Listing</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}